@model ThucHanh1.Models.Learner

<h1>Create Learner</h1>

<form asp-action="Create" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="FirstMidName"></label>
        <input asp-for="FirstMidName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="MajorID"></label>
        <select asp-for="MajorID" asp-items="@ViewBag.MajorID" class="form-control"></select>
    </div>

    <div class="form-group">
        <label asp-for="EnrollmentDate"></label>
        <input asp-for="EnrollmentDate" class="form-control" type="date" />
    </div>

    <button type="submit" class="btn btn-primary mt-3">Create</button>
</form>
